body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.console {
    width: 50%;
    height: 60vh;
    background-color: darkgray;
    color: lightgray;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#output {
    height: 90%;
    overflow-y: auto;
    white-space: pre-line;
}

#input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: black;
    color: lightgray;
}
